lib/f5/src/main/java/iControl/wsdl/ASM.Policy.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2009, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="ASM.Policy"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="ASM.PolicyTemplateSequenceSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:ASM.PolicyTemplateSequence[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="ASM.DynamicSessionsInUrlSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:ASM.DynamicSessionsInUrl[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="ASM.FileTransferContext">
			<xsd:sequence>
				<xsd:element name="file_data" type="tns:Common.OctetSequence"/>
				<xsd:element name="chain_type" type="tns:Common.FileChainType"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:simpleType name="Common.OctetSequence">
			<xsd:restriction base="xsd:base64Binary"/>
		</xsd:simpleType>
		<xsd:simpleType name="ASM.FlagState">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="FLAG_ON">
					<xsd:annotation>
						<xsd:documentation>FLAG_ON</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="FLAG_OFF">
					<xsd:annotation>
						<xsd:documentation>FLAG_OFF</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="FLAG_UNCHANGED">
					<xsd:annotation>
						<xsd:documentation>FLAG_UNCHANGED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="ASM.ViolationSequenceSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:ASM.ViolationSequence[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="ASM.DynamicSessionsInUrl">
			<xsd:sequence>
				<xsd:element name="type" type="tns:ASM.DynamicSessionsInUrlType"/>
				<xsd:element name="value" type="xsd:string"/>
				<xsd:element name="description" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="ASM.PolicyTemplateSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:ASM.PolicyTemplate[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:simpleType name="ASM.ViolationName">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="VIOLATION_EVASION_DETECTED">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_EVASION_DETECTED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_VIRUS_DETECTED">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_VIRUS_DETECTED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_REQUEST_TOO_LONG">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_REQUEST_TOO_LONG</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_ILLEGAL_INGRESS_OBJECT">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_ILLEGAL_INGRESS_OBJECT</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_PARSER_EXPIRED_INGRESS_OBJECT">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_PARSER_EXPIRED_INGRESS_OBJECT</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_RESPONSE_SCRUBBING">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_RESPONSE_SCRUBBING</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_ILLEGAL_SOAP_ATTACHMENT">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_ILLEGAL_SOAP_ATTACHMENT</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_MISSING_MANDATORY_HEADER">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_MISSING_MANDATORY_HEADER</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_HTTP_SANITY_CHECK_FAILED">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_HTTP_SANITY_CHECK_FAILED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_CHAR_CONV">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_CHAR_CONV</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_CSRF">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_CSRF</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_MALFORMED_XML">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_MALFORMED_XML</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_XML_WSDL">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_XML_WSDL</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_XML_FORMAT_SETTING">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_XML_FORMAT_SETTING</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_PARSER_FAILED_SOAP_SECURITY">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_PARSER_FAILED_SOAP_SECURITY</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_SOAP_METHOD_NOT_ALLOWED">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_SOAP_METHOD_NOT_ALLOWED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_BRUTE_FORCE_ATTACK_DETECTED">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_BRUTE_FORCE_ATTACK_DETECTED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_WEB_SCRAPING_DETECTED">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_WEB_SCRAPING_DETECTED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_CSRF_EXPIRED">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_CSRF_EXPIRED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_OBJ_LEN">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_OBJ_LEN</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_COOKIE_LEN">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_COOKIE_LEN</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_REQ_LEN">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_REQ_LEN</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_QS_LEN">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_QS_LEN</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_POST_DATA_LEN">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_POST_DATA_LEN</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_MULTI_PART_PARAM_VAL">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_MULTI_PART_PARAM_VAL</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_HEADER_LEN">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_HEADER_LEN</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_REPEATED_PARAMETER_NAME">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_REPEATED_PARAMETER_NAME</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_METACHAR_IN_OBJ">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_METACHAR_IN_OBJ</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_METACHAR_IN_PARAM_NAME">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_METACHAR_IN_PARAM_NAME</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_METACHAR_IN_DEF_PARAM">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_METACHAR_IN_DEF_PARAM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_OBJ_TYPE">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_OBJ_TYPE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_OBJ_DOESNT_EXIST">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_OBJ_DOESNT_EXIST</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_FLOW_TO_OBJ">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_FLOW_TO_OBJ</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_ILLEGAL_METHOD">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_ILLEGAL_METHOD</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_SESSSION_ID_IN_URL">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_SESSSION_ID_IN_URL</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_QS_OR_POST_DATA">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_QS_OR_POST_DATA</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_PARAM">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_PARAM</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_EMPTY_PARAM_VALUE">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_EMPTY_PARAM_VALUE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_STATIC_PARAM_VALUE">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_STATIC_PARAM_VALUE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_DYN_PARAM_VALUE">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_DYN_PARAM_VALUE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_PARAM_VALUE_LEN">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_PARAM_VALUE_LEN</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_PARAM_DATA_TYPE">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_PARAM_DATA_TYPE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_PARAM_NUMERIC_VALUE">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_PARAM_NUMERIC_VALUE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_NUM_OF_MANDATORY_PARAMS">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_NUM_OF_MANDATORY_PARAMS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_PARAM_VALUE_NOT_MATCHING_REGEX">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_PARAM_VALUE_NOT_MATCHING_REGEX</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_MOD_ASM_COOKIE">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_MOD_ASM_COOKIE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_MOD_DOMAIN_COOKIE">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_MOD_DOMAIN_COOKIE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_NOT_RFC_COOKIE">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_NOT_RFC_COOKIE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_ENTRY_POINT">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_ENTRY_POINT</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_MSG_KEY">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_MSG_KEY</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_EXPIRED_TIMESTAMP">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_EXPIRED_TIMESTAMP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_METACHAR_IN_HEADER">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_METACHAR_IN_HEADER</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="VIOLATION_HTTP_STATUS_IN_RESPONSE">
					<xsd:annotation>
						<xsd:documentation>VIOLATION_HTTP_STATUS_IN_RESPONSE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="Common.BooleanSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:boolean[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.ULongSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:long[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:simpleType name="Common.FileChainType">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="FILE_UNDEFINED">
					<xsd:annotation>
						<xsd:documentation>FILE_UNDEFINED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="FILE_FIRST">
					<xsd:annotation>
						<xsd:documentation>FILE_FIRST</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="FILE_MIDDLE">
					<xsd:annotation>
						<xsd:documentation>FILE_MIDDLE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="FILE_UNUSED">
					<xsd:annotation>
						<xsd:documentation>FILE_UNUSED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="FILE_LAST">
					<xsd:annotation>
						<xsd:documentation>FILE_LAST</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="FILE_FIRST_AND_LAST">
					<xsd:annotation>
						<xsd:documentation>FILE_FIRST_AND_LAST</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="ASM.Violation">
			<xsd:sequence>
				<xsd:element name="violation_name" type="tns:ASM.ViolationName"/>
				<xsd:element name="learn_flag" type="tns:ASM.FlagState"/>
				<xsd:element name="alarm_flag" type="tns:ASM.FlagState"/>
				<xsd:element name="block_flag" type="tns:ASM.FlagState"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:simpleType name="Common.ULong">
			<xsd:restriction base="xsd:long"/>
		</xsd:simpleType>
		<xsd:complexType name="ASM.ViolationSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:ASM.Violation[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:simpleType name="ASM.DynamicSessionsInUrlType">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="DYNAMIC_SESSIONS_DISABLED">
					<xsd:annotation>
						<xsd:documentation>DYNAMIC_SESSIONS_DISABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="DYNAMIC_SESSIONS_DEFAULT_PATTERN">
					<xsd:annotation>
						<xsd:documentation>DYNAMIC_SESSIONS_DEFAULT_PATTERN</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="DYNAMIC_SESSIONS_CUSTOM_PATTERN">
					<xsd:annotation>
						<xsd:documentation>DYNAMIC_SESSIONS_CUSTOM_PATTERN</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="Common.StringSequenceSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.StringSequence[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:simpleType name="ASM.PolicyTemplate">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="POLICY_TEMPLATE_EMPTY">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_EMPTY</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_SHAREPOINT_2007_HTTP">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_SHAREPOINT_2007_HTTP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_SHAREPOINT_2007_HTTPS">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_SHAREPOINT_2007_HTTPS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_OWA_EXCHANGE_2003_HTTP">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_OWA_EXCHANGE_2003_HTTP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_OWA_EXCHANGE_2003_HTTPS">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_OWA_EXCHANGE_2003_HTTPS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_ORACLE_APPLICATIONS_11I_HTTP">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_ORACLE_APPLICATIONS_11I_HTTP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_ORACLE_APPLICATIONS_11I_HTTPS">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_ORACLE_APPLICATIONS_11I_HTTPS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_LOTUSDOMINO_6_5_HTTP">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_LOTUSDOMINO_6_5_HTTP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_LOTUSDOMINO_6_5_HTTPS">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_LOTUSDOMINO_6_5_HTTPS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_OWA_EXCHANGE_2007_HTTP">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_OWA_EXCHANGE_2007_HTTP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_OWA_EXCHANGE_2007_HTTPS">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_OWA_EXCHANGE_2007_HTTPS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_SAP_NETWEAVER_7_HTTP">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_SAP_NETWEAVER_7_HTTP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_SAP_NETWEAVER_7_HTTPS">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_SAP_NETWEAVER_7_HTTPS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_RAPID_DEPLOYMENT_HTTP">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_RAPID_DEPLOYMENT_HTTP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_RAPID_DEPLOYMENT_HTTPS">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_RAPID_DEPLOYMENT_HTTPS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_PEOPLESOFT_PORTAL_9_HTTP">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_PEOPLESOFT_PORTAL_9_HTTP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_PEOPLESOFT_PORTAL_9_HTTPS">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_PEOPLESOFT_PORTAL_9_HTTPS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_ORACLE_10G_PORTAL_HTTP">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_ORACLE_10G_PORTAL_HTTP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_ORACLE_10G_PORTAL_HTTPS">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_ORACLE_10G_PORTAL_HTTPS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_SHAREPOINT_2003_HTTP">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_SHAREPOINT_2003_HTTP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_SHAREPOINT_2003_HTTPS">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_SHAREPOINT_2003_HTTPS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_ACTIVESYNC_V1_0_V2_0_HTTP">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_ACTIVESYNC_V1_0_V2_0_HTTP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_ACTIVESYNC_V1_0_V2_0_HTTPS">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_ACTIVESYNC_V1_0_V2_0_HTTPS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_OWA_EXCHANGE_2007_WITH_ACTIVESYNC_HTTP">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_OWA_EXCHANGE_2007_WITH_ACTIVESYNC_HTTP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_OWA_EXCHANGE_2007_WITH_ACTIVESYNC_HTTPS">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_OWA_EXCHANGE_2007_WITH_ACTIVESYNC_HTTPS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_OWA_EXCHANGE_2003_WITH_ACTIVESYNC_HTTP">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_OWA_EXCHANGE_2003_WITH_ACTIVESYNC_HTTP</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_OWA_EXCHANGE_2003_WITH_ACTIVESYNC_HTTPS">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_OWA_EXCHANGE_2003_WITH_ACTIVESYNC_HTTPS</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="POLICY_TEMPLATE_WHITEHAT_SENTINEL_BASELINE">
					<xsd:annotation>
						<xsd:documentation>POLICY_TEMPLATE_WHITEHAT_SENTINEL_BASELINE</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:schema>
</types>

<!-- message -->

<message name="ASM.Policy.add_predictable_resource_locationRequest">
	<part name="policy_name" type="xsd:string"/>
	<part name="uris" type="tns:Common.StringSequence"/>
</message>
<message name="ASM.Policy.add_predictable_resource_locationResponse">
	<part name="return" type="xsd:boolean"/>
</message>

<message name="ASM.Policy.associate_wa_webappRequest">
	<part name="policy_names" type="tns:Common.StringSequence"/>
	<part name="wa_webapp_names" type="tns:Common.StringSequence"/>
</message>
<message name="ASM.Policy.associate_wa_webappResponse">
</message>

<message name="ASM.Policy.createRequest">
	<part name="webapp_names" type="tns:Common.StringSequence"/>
	<part name="policy_names" type="tns:Common.StringSequenceSequence"/>
</message>
<message name="ASM.Policy.createResponse">
</message>

<message name="ASM.Policy.create_from_templateRequest">
	<part name="webapp_names" type="tns:Common.StringSequence"/>
	<part name="policy_names" type="tns:Common.StringSequenceSequence"/>
	<part name="policy_templates" type="tns:ASM.PolicyTemplateSequenceSequence"/>
</message>
<message name="ASM.Policy.create_from_templateResponse">
</message>

<message name="ASM.Policy.delete_policyRequest">
	<part name="policy_names" type="tns:Common.StringSequence"/>
</message>
<message name="ASM.Policy.delete_policyResponse">
</message>

<message name="ASM.Policy.detach_wa_webappRequest">
	<part name="policy_names" type="tns:Common.StringSequence"/>
	<part name="wa_webapp_names" type="tns:Common.StringSequence"/>
</message>
<message name="ASM.Policy.detach_wa_webappResponse">
</message>

<message name="ASM.Policy.download_policyRequest">
	<part name="policy_name" type="xsd:string"/>
	<part name="chunk_size" type="xsd:long"/>
	<part name="file_offset" type="xsd:long"/>
</message>
<message name="ASM.Policy.download_policyResponse">
	<part name="return" type="tns:ASM.FileTransferContext"/>
	<part name="file_offset" type="xsd:long"/>
</message>

<message name="ASM.Policy.export_policyRequest">
	<part name="policy_name" type="xsd:string"/>
	<part name="filename" type="xsd:string"/>
</message>
<message name="ASM.Policy.export_policyResponse">
</message>

<message name="ASM.Policy.get_cookie_lengthRequest">
	<part name="policy_names" type="tns:Common.StringSequence"/>
</message>
<message name="ASM.Policy.get_cookie_lengthResponse">
	<part name="return" type="tns:Common.ULongSequence"/>
</message>

<message name="ASM.Policy.get_disable_blocking_flagRequest">
	<part name="policy_names" type="tns:Common.StringSequence"/>
</message>
<message name="ASM.Policy.get_disable_blocking_flagResponse">
	<part name="return" type="tns:Common.BooleanSequence"/>
</message>

<message name="ASM.Policy.get_dynamic_sessions_in_urlRequest">
	<part name="policy_names" type="tns:Common.StringSequence"/>
</message>
<message name="ASM.Policy.get_dynamic_sessions_in_urlResponse">
	<part name="return" type="tns:ASM.DynamicSessionsInUrlSequence"/>
</message>

<message name="ASM.Policy.get_http_header_lengthRequest">
	<part name="policy_names" type="tns:Common.StringSequence"/>
</message>
<message name="ASM.Policy.get_http_header_lengthResponse">
	<part name="return" type="tns:Common.ULongSequence"/>
</message>

<message name="ASM.Policy.get_listRequest">
</message>
<message name="ASM.Policy.get_listResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="ASM.Policy.get_versionRequest">
</message>
<message name="ASM.Policy.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<message name="ASM.Policy.get_violation_flagsRequest">
	<part name="policy_names" type="tns:Common.StringSequence"/>
</message>
<message name="ASM.Policy.get_violation_flagsResponse">
	<part name="return" type="tns:ASM.ViolationSequenceSequence"/>
</message>

<message name="ASM.Policy.import_policyRequest">
	<part name="webapp_name" type="xsd:string"/>
	<part name="filename" type="xsd:string"/>
</message>
<message name="ASM.Policy.import_policyResponse">
</message>

<message name="ASM.Policy.set_cookie_lengthRequest">
	<part name="policy_names" type="tns:Common.StringSequence"/>
	<part name="cookie_lengths" type="tns:Common.ULongSequence"/>
</message>
<message name="ASM.Policy.set_cookie_lengthResponse">
</message>

<message name="ASM.Policy.set_disable_blocking_flagRequest">
	<part name="policy_names" type="tns:Common.StringSequence"/>
	<part name="blocking_flags" type="tns:Common.BooleanSequence"/>
</message>
<message name="ASM.Policy.set_disable_blocking_flagResponse">
</message>

<message name="ASM.Policy.set_dynamic_sessions_in_urlRequest">
	<part name="policy_names" type="tns:Common.StringSequence"/>
	<part name="settings" type="tns:ASM.DynamicSessionsInUrlSequence"/>
</message>
<message name="ASM.Policy.set_dynamic_sessions_in_urlResponse">
</message>

<message name="ASM.Policy.set_http_header_lengthRequest">
	<part name="policy_names" type="tns:Common.StringSequence"/>
	<part name="http_header_lengths" type="tns:Common.ULongSequence"/>
</message>
<message name="ASM.Policy.set_http_header_lengthResponse">
</message>

<message name="ASM.Policy.set_http_response_splittingRequest">
	<part name="policy_name" type="xsd:string"/>
</message>
<message name="ASM.Policy.set_http_response_splittingResponse">
	<part name="return" type="xsd:boolean"/>
</message>

<message name="ASM.Policy.set_path_traversalRequest">
	<part name="policy_name" type="xsd:string"/>
</message>
<message name="ASM.Policy.set_path_traversalResponse">
	<part name="return" type="xsd:boolean"/>
</message>

<message name="ASM.Policy.set_prerequisite_expiration_periodRequest">
	<part name="policy_names" type="tns:Common.StringSequence"/>
	<part name="expiration_periods" type="tns:Common.ULongSequence"/>
</message>
<message name="ASM.Policy.set_prerequisite_expiration_periodResponse">
</message>

<message name="ASM.Policy.set_violation_flagsRequest">
	<part name="policy_names" type="tns:Common.StringSequence"/>
	<part name="violations" type="tns:ASM.ViolationSequenceSequence"/>
</message>
<message name="ASM.Policy.set_violation_flagsResponse">
</message>

<message name="ASM.Policy.upload_policyRequest">
	<part name="policy_name" type="xsd:string"/>
	<part name="file_context" type="tns:ASM.FileTransferContext"/>
</message>
<message name="ASM.Policy.upload_policyResponse">
</message>

<message name="ASM.Policy.upload_xml_profile_wsdlRequest">
	<part name="policy_name" type="xsd:string"/>
	<part name="profile_name" type="xsd:string"/>
	<part name="wsdl_filename" type="xsd:string"/>
	<part name="wsdl_text" type="xsd:string"/>
</message>
<message name="ASM.Policy.upload_xml_profile_wsdlResponse">
</message>

<!-- portType -->

<portType name="ASM.PolicyPortType">
	<operation name="add_predictable_resource_location">
      	<documentation>
 Add predictable resource location

        	</documentation>
		<input message="tns:ASM.Policy.add_predictable_resource_locationRequest"/>
		<output message="tns:ASM.Policy.add_predictable_resource_locationResponse"/>
	</operation>
	<operation name="associate_wa_webapp">
	<documentation>
 Associates the WA web applictions to the ASM policy.
 
        	</documentation>
		<input message="tns:ASM.Policy.associate_wa_webappRequest"/>
		<output message="tns:ASM.Policy.associate_wa_webappResponse"/>
	</operation>
	<operation name="create">
	<documentation>
 Create policies for the specified web applications.

        	</documentation>
		<input message="tns:ASM.Policy.createRequest"/>
		<output message="tns:ASM.Policy.createResponse"/>
	</operation>
	<operation name="create_from_template">
	<documentation>
 Create policies from template for the specified web applications.

        	</documentation>
		<input message="tns:ASM.Policy.create_from_templateRequest"/>
		<output message="tns:ASM.Policy.create_from_templateResponse"/>
	</operation>
	<operation name="delete_policy">
	<documentation>
 Deletes a policy.

        	</documentation>
		<input message="tns:ASM.Policy.delete_policyRequest"/>
		<output message="tns:ASM.Policy.delete_policyResponse"/>
	</operation>
	<operation name="detach_wa_webapp">
	<documentation>
 Detaches the WA web applictions from the ASM policy.
 
        	</documentation>
		<input message="tns:ASM.Policy.detach_wa_webappRequest"/>
		<output message="tns:ASM.Policy.detach_wa_webappResponse"/>
	</operation>
	<operation name="download_policy">
	<documentation>
 Downloads the policy from the device.
 The download_policy is typically called after having called to export_policy. 
 The parameter policy_name must be the same as used during export_policy.
 The file is downloaded in chunks. Each chunk should be concatenated to the previous one
 on the client side.
 The return value has two fields:
 - file_data: The relevant part of the content of the file
 - chunk_type: Indicates the current chunk whether it is the first, middle, last chunk
               or the current call includes the entire file.


        	</documentation>
		<input message="tns:ASM.Policy.download_policyRequest"/>
		<output message="tns:ASM.Policy.download_policyResponse"/>
	</operation>
	<operation name="export_policy">
	<documentation>
 Export Policy
 The export_policy method exports the policy specified in parameter policy_name
 and writes the file to the device's local disk.
 This method is typically followed by a call to download_policy which gets this full path
 filename as a parameter.

        	</documentation>
		<input message="tns:ASM.Policy.export_policyRequest"/>
		<output message="tns:ASM.Policy.export_policyResponse"/>
	</operation>
	<operation name="get_cookie_length">
	<documentation>
 Get the max cookie length.

        	</documentation>
		<input message="tns:ASM.Policy.get_cookie_lengthRequest"/>
		<output message="tns:ASM.Policy.get_cookie_lengthResponse"/>
	</operation>
	<operation name="get_disable_blocking_flag">
	<documentation>
 Get blocking flag.

        	</documentation>
		<input message="tns:ASM.Policy.get_disable_blocking_flagRequest"/>
		<output message="tns:ASM.Policy.get_disable_blocking_flagResponse"/>
	</operation>
	<operation name="get_dynamic_sessions_in_url">
	<documentation>
 Get the "dynamic sessions in URL" for the specified policies.

        	</documentation>
		<input message="tns:ASM.Policy.get_dynamic_sessions_in_urlRequest"/>
		<output message="tns:ASM.Policy.get_dynamic_sessions_in_urlResponse"/>
	</operation>
	<operation name="get_http_header_length">
	<documentation>
 Get max http header length.

        	</documentation>
		<input message="tns:ASM.Policy.get_http_header_lengthRequest"/>
		<output message="tns:ASM.Policy.get_http_header_lengthResponse"/>
	</operation>
	<operation name="get_list">
	<documentation>
 Get the list of policies.

        	</documentation>
		<input message="tns:ASM.Policy.get_listRequest"/>
		<output message="tns:ASM.Policy.get_listResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.


        	</documentation>
		<input message="tns:ASM.Policy.get_versionRequest"/>
		<output message="tns:ASM.Policy.get_versionResponse"/>
	</operation>
	<operation name="get_violation_flags">
	<documentation>
 Gets violation blocking flag.

        	</documentation>
		<input message="tns:ASM.Policy.get_violation_flagsRequest"/>
		<output message="tns:ASM.Policy.get_violation_flagsResponse"/>
	</operation>
	<operation name="import_policy">
	<documentation>
 Import Policy
 
 Before calling import_policy, upload_policy should be done.
 Once the policy is completely uploaded, you can import it.

        	</documentation>
		<input message="tns:ASM.Policy.import_policyRequest"/>
		<output message="tns:ASM.Policy.import_policyResponse"/>
	</operation>
	<operation name="set_cookie_length">
	<documentation>
 Updates max cookie length.

        	</documentation>
		<input message="tns:ASM.Policy.set_cookie_lengthRequest"/>
		<output message="tns:ASM.Policy.set_cookie_lengthResponse"/>
	</operation>
	<operation name="set_disable_blocking_flag">
	<documentation>
 Updates blocking flag.

        	</documentation>
		<input message="tns:ASM.Policy.set_disable_blocking_flagRequest"/>
		<output message="tns:ASM.Policy.set_disable_blocking_flagResponse"/>
	</operation>
	<operation name="set_dynamic_sessions_in_url">
	<documentation>
 Set the "dynamic sessions in URL" for the specified policies.

        	</documentation>
		<input message="tns:ASM.Policy.set_dynamic_sessions_in_urlRequest"/>
		<output message="tns:ASM.Policy.set_dynamic_sessions_in_urlResponse"/>
	</operation>
	<operation name="set_http_header_length">
	<documentation>
 Updates max http header length.

        	</documentation>
		<input message="tns:ASM.Policy.set_http_header_lengthRequest"/>
		<output message="tns:ASM.Policy.set_http_header_lengthResponse"/>
	</operation>
	<operation name="set_http_response_splitting">
	<documentation>
 Set HTTP response splitting

        	</documentation>
		<input message="tns:ASM.Policy.set_http_response_splittingRequest"/>
		<output message="tns:ASM.Policy.set_http_response_splittingResponse"/>
	</operation>
	<operation name="set_path_traversal">
	<documentation>
 Set path traversal

        	</documentation>
		<input message="tns:ASM.Policy.set_path_traversalRequest"/>
		<output message="tns:ASM.Policy.set_path_traversalResponse"/>
	</operation>
	<operation name="set_prerequisite_expiration_period">
	<documentation>
 Updates prerequisite expiration period flag.

        	</documentation>
		<input message="tns:ASM.Policy.set_prerequisite_expiration_periodRequest"/>
		<output message="tns:ASM.Policy.set_prerequisite_expiration_periodResponse"/>
	</operation>
	<operation name="set_violation_flags">
	<documentation>
 Updates violation blocking flag.

        	</documentation>
		<input message="tns:ASM.Policy.set_violation_flagsRequest"/>
		<output message="tns:ASM.Policy.set_violation_flagsResponse"/>
	</operation>
	<operation name="upload_policy">
	<documentation>
 Uploads the policy to the device.
 In order to import a policy two things have to be done in this order
 - call upload_policy
 - call import_policy
 upload_policy uploads the policy to the device to /var/tmp/ directory.
 The filename is the name of the policy given in policy_name.
 If the policy is big, it should be uploaded in chunks using a loop on the client side.
 
        	</documentation>
		<input message="tns:ASM.Policy.upload_policyRequest"/>
		<output message="tns:ASM.Policy.upload_policyResponse"/>
	</operation>
	<operation name="upload_xml_profile_wsdl">
	<documentation>
 Uploads the the wsdl and attaches it to a specific xml profile of a policy.

        	</documentation>
		<input message="tns:ASM.Policy.upload_xml_profile_wsdlRequest"/>
		<output message="tns:ASM.Policy.upload_xml_profile_wsdlResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="ASM.PolicyBinding" type="tns:ASM.PolicyPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="add_predictable_resource_location">
	<documentation>
 Add predictable resource location

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="associate_wa_webapp">
	<documentation>
 Associates the WA web applictions to the ASM policy.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create">
	<documentation>
 Create policies for the specified web applications.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="create_from_template">
	<documentation>
 Create policies from template for the specified web applications.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_policy">
	<documentation>
 Deletes a policy.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="detach_wa_webapp">
	<documentation>
 Detaches the WA web applictions from the ASM policy.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="download_policy">
	<documentation>
 Downloads the policy from the device.
 The download_policy is typically called after having called to export_policy. 
 The parameter policy_name must be the same as used during export_policy.
 The file is downloaded in chunks. Each chunk should be concatenated to the previous one
 on the client side.
 The return value has two fields:
 - file_data: The relevant part of the content of the file
 - chunk_type: Indicates the current chunk whether it is the first, middle, last chunk
               or the current call includes the entire file.


        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="export_policy">
	<documentation>
 Export Policy
 The export_policy method exports the policy specified in parameter policy_name
 and writes the file to the device's local disk.
 This method is typically followed by a call to download_policy which gets this full path
 filename as a parameter.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_cookie_length">
	<documentation>
 Get the max cookie length.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_disable_blocking_flag">
	<documentation>
 Get blocking flag.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_dynamic_sessions_in_url">
	<documentation>
 Get the "dynamic sessions in URL" for the specified policies.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_http_header_length">
	<documentation>
 Get max http header length.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_list">
	<documentation>
 Get the list of policies.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.


        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_violation_flags">
	<documentation>
 Gets violation blocking flag.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="import_policy">
	<documentation>
 Import Policy
 
 Before calling import_policy, upload_policy should be done.
 Once the policy is completely uploaded, you can import it.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_cookie_length">
	<documentation>
 Updates max cookie length.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_disable_blocking_flag">
	<documentation>
 Updates blocking flag.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_dynamic_sessions_in_url">
	<documentation>
 Set the "dynamic sessions in URL" for the specified policies.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_http_header_length">
	<documentation>
 Updates max http header length.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_http_response_splitting">
	<documentation>
 Set HTTP response splitting

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_path_traversal">
	<documentation>
 Set path traversal

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_prerequisite_expiration_period">
	<documentation>
 Updates prerequisite expiration period flag.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_violation_flags">
	<documentation>
 Updates violation blocking flag.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="upload_policy">
	<documentation>
 Uploads the policy to the device.
 In order to import a policy two things have to be done in this order
 - call upload_policy
 - call import_policy
 upload_policy uploads the policy to the device to /var/tmp/ directory.
 The filename is the name of the policy given in policy_name.
 If the policy is big, it should be uploaded in chunks using a loop on the client side.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="upload_xml_profile_wsdl">
	<documentation>
 Uploads the the wsdl and attaches it to a specific xml profile of a policy.

        	</documentation>
		<soap:operation soapAction="urn:iControl:ASM/Policy"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:ASM/Policy"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="ASM.Policy">
	<documentation>
 The Policy interface enables you to manipulate a policy.

        	</documentation>
	<port name="ASM.PolicyPort" binding="tns:ASM.PolicyBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
