lib/f5/src/main/java/iControl/wsdl/Management.Partition.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2009, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Management.Partition"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Management.Partition.AuthZPartition">
			<xsd:sequence>
				<xsd:element name="partition_name" type="xsd:string"/>
				<xsd:element name="description" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Management.Partition.AuthZPartitionSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Management.Partition.AuthZPartition[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Management.Partition.create_partitionRequest">
	<part name="partitions" type="tns:Management.Partition.AuthZPartitionSequence"/>
</message>
<message name="Management.Partition.create_partitionResponse">
</message>

<message name="Management.Partition.delete_all_partitionsRequest">
</message>
<message name="Management.Partition.delete_all_partitionsResponse">
</message>

<message name="Management.Partition.delete_partitionRequest">
	<part name="partition_names" type="tns:Common.StringSequence"/>
</message>
<message name="Management.Partition.delete_partitionResponse">
</message>

<message name="Management.Partition.get_active_partitionRequest">
</message>
<message name="Management.Partition.get_active_partitionResponse">
	<part name="return" type="xsd:string"/>
</message>

<message name="Management.Partition.get_partition_listRequest">
</message>
<message name="Management.Partition.get_partition_listResponse">
	<part name="return" type="tns:Management.Partition.AuthZPartitionSequence"/>
</message>

<message name="Management.Partition.get_versionRequest">
</message>
<message name="Management.Partition.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<message name="Management.Partition.set_active_partitionRequest">
	<part name="active_partition" type="xsd:string"/>
</message>
<message name="Management.Partition.set_active_partitionResponse">
</message>

<!-- portType -->

<portType name="Management.PartitionPortType">
	<operation name="create_partition">
    	<documentation>
 Creates the specified AuthZ partitions.
 
        	</documentation>
		<input message="tns:Management.Partition.create_partitionRequest"/>
		<output message="tns:Management.Partition.create_partitionResponse"/>
	</operation>
	<operation name="delete_all_partitions">
	<documentation>
 Deletes all AuthZ partitions, except for the "Common" partition.
 
        	</documentation>
		<input message="tns:Management.Partition.delete_all_partitionsRequest"/>
		<output message="tns:Management.Partition.delete_all_partitionsResponse"/>
	</operation>
	<operation name="delete_partition">
	<documentation>
 Deletes the specified AuthZ partitions.
 It's recommended that if a partition to be deleted is also the current
 active partition, the user should change the active partition to something
 else first (using set_active_partition).  Otherwise, in the event that the 
 partition to be deleted is the current active partition, iControl will 
 automatically default the new active partition to the "Common" partition.
 
        	</documentation>
		<input message="tns:Management.Partition.delete_partitionRequest"/>
		<output message="tns:Management.Partition.delete_partitionResponse"/>
	</operation>
	<operation name="get_active_partition">
	<documentation>
 Gets the active partition for the current user. The active partition
 is the administrative partition where all configuration will take place
 until a new active partition is selected. Each user can only be in one
 active partition at any given time. By default, if not explicitly set,
 the active partition for a user will be "Common".
 
        	</documentation>
		<input message="tns:Management.Partition.get_active_partitionRequest"/>
		<output message="tns:Management.Partition.get_active_partitionResponse"/>
	</operation>
	<operation name="get_partition_list">
	<documentation>
 Gets a list of all AuthZ partitions.
 
        	</documentation>
		<input message="tns:Management.Partition.get_partition_listRequest"/>
		<output message="tns:Management.Partition.get_partition_listResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Management.Partition.get_versionRequest"/>
		<output message="tns:Management.Partition.get_versionResponse"/>
	</operation>
	<operation name="set_active_partition">
	<documentation>
 Sets the active partition for the current user. The active partition
 is the administrative partition where all configuration will take place
 until a new active partition is selected. Each user can only be in one
 active partition at any given time. By default, if not explicitly set,
 the active partition for a user will be "Common".
 
        	</documentation>
		<input message="tns:Management.Partition.set_active_partitionRequest"/>
		<output message="tns:Management.Partition.set_active_partitionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Management.PartitionBinding" type="tns:Management.PartitionPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="create_partition">
	<documentation>
 Creates the specified AuthZ partitions.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/Partition"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Partition"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Partition"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_all_partitions">
	<documentation>
 Deletes all AuthZ partitions, except for the "Common" partition.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/Partition"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Partition"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Partition"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_partition">
	<documentation>
 Deletes the specified AuthZ partitions.
 It's recommended that if a partition to be deleted is also the current
 active partition, the user should change the active partition to something
 else first (using set_active_partition).  Otherwise, in the event that the 
 partition to be deleted is the current active partition, iControl will 
 automatically default the new active partition to the "Common" partition.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/Partition"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Partition"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Partition"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_active_partition">
	<documentation>
 Gets the active partition for the current user. The active partition
 is the administrative partition where all configuration will take place
 until a new active partition is selected. Each user can only be in one
 active partition at any given time. By default, if not explicitly set,
 the active partition for a user will be "Common".
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/Partition"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Partition"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Partition"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_partition_list">
	<documentation>
 Gets a list of all AuthZ partitions.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/Partition"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Partition"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Partition"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/Partition"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Partition"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Partition"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_active_partition">
	<documentation>
 Sets the active partition for the current user. The active partition
 is the administrative partition where all configuration will take place
 until a new active partition is selected. Each user can only be in one
 active partition at any given time. By default, if not explicitly set,
 the active partition for a user will be "Common".
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Management/Partition"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Partition"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Management/Partition"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Management.Partition">
	<documentation>
 The Partition interface enables you to manage AuthZ Administrative Partitions, as well
 as relationship between users, roles, and their associated partitions.

        	</documentation>
	<port name="Management.PartitionPort" binding="tns:Management.PartitionBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
