lib/f5/src/main/java/iControl/wsdl/Networking.PacketFilterGlobals.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2009, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Networking.PacketFilterGlobals"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.IPAddressSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Networking.PacketFilterGlobals.add_trusted_addressRequest">
	<part name="addresses" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.PacketFilterGlobals.add_trusted_addressResponse">
</message>

<message name="Networking.PacketFilterGlobals.add_trusted_mac_addressRequest">
	<part name="mac_addresses" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.PacketFilterGlobals.add_trusted_mac_addressResponse">
</message>

<message name="Networking.PacketFilterGlobals.add_trusted_vlanRequest">
	<part name="vlans" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.PacketFilterGlobals.add_trusted_vlanResponse">
</message>

<message name="Networking.PacketFilterGlobals.get_trusted_addressRequest">
</message>
<message name="Networking.PacketFilterGlobals.get_trusted_addressResponse">
	<part name="return" type="tns:Common.IPAddressSequence"/>
</message>

<message name="Networking.PacketFilterGlobals.get_trusted_mac_addressRequest">
</message>
<message name="Networking.PacketFilterGlobals.get_trusted_mac_addressResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.PacketFilterGlobals.get_trusted_vlanRequest">
</message>
<message name="Networking.PacketFilterGlobals.get_trusted_vlanResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.PacketFilterGlobals.get_versionRequest">
</message>
<message name="Networking.PacketFilterGlobals.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<message name="Networking.PacketFilterGlobals.remove_trusted_addressRequest">
	<part name="addresses" type="tns:Common.IPAddressSequence"/>
</message>
<message name="Networking.PacketFilterGlobals.remove_trusted_addressResponse">
</message>

<message name="Networking.PacketFilterGlobals.remove_trusted_mac_addressRequest">
	<part name="mac_addresses" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.PacketFilterGlobals.remove_trusted_mac_addressResponse">
</message>

<message name="Networking.PacketFilterGlobals.remove_trusted_vlanRequest">
	<part name="vlans" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.PacketFilterGlobals.remove_trusted_vlanResponse">
</message>

<!-- portType -->

<portType name="Networking.PacketFilterGlobalsPortType">
	<operation name="add_trusted_address">
  	<documentation>
 Adds the specified addresses to the list of trusted source addresses.
 
        	</documentation>
		<input message="tns:Networking.PacketFilterGlobals.add_trusted_addressRequest"/>
		<output message="tns:Networking.PacketFilterGlobals.add_trusted_addressResponse"/>
	</operation>
	<operation name="add_trusted_mac_address">
	<documentation>
 Adds the specified MAC addresses to the list of trusted MAC addresses.
 
        	</documentation>
		<input message="tns:Networking.PacketFilterGlobals.add_trusted_mac_addressRequest"/>
		<output message="tns:Networking.PacketFilterGlobals.add_trusted_mac_addressResponse"/>
	</operation>
	<operation name="add_trusted_vlan">
	<documentation>
 Adds the specified ingress VLANs to the list of trusted VLANs.
 
        	</documentation>
		<input message="tns:Networking.PacketFilterGlobals.add_trusted_vlanRequest"/>
		<output message="tns:Networking.PacketFilterGlobals.add_trusted_vlanResponse"/>
	</operation>
	<operation name="get_trusted_address">
	<documentation>
 Gets a list of all trusted source addresses used in packet filtering on this device.
 
        	</documentation>
		<input message="tns:Networking.PacketFilterGlobals.get_trusted_addressRequest"/>
		<output message="tns:Networking.PacketFilterGlobals.get_trusted_addressResponse"/>
	</operation>
	<operation name="get_trusted_mac_address">
	<documentation>
 Gets a list of all trusted MAC addresses used in packet filtering on this device.
 
        	</documentation>
		<input message="tns:Networking.PacketFilterGlobals.get_trusted_mac_addressRequest"/>
		<output message="tns:Networking.PacketFilterGlobals.get_trusted_mac_addressResponse"/>
	</operation>
	<operation name="get_trusted_vlan">
	<documentation>
 Gets a list of all trusted ingress VLANs used in packet filtering on this device.
 
        	</documentation>
		<input message="tns:Networking.PacketFilterGlobals.get_trusted_vlanRequest"/>
		<output message="tns:Networking.PacketFilterGlobals.get_trusted_vlanResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Networking.PacketFilterGlobals.get_versionRequest"/>
		<output message="tns:Networking.PacketFilterGlobals.get_versionResponse"/>
	</operation>
	<operation name="remove_trusted_address">
	<documentation>
 Removes the specified addresses from the list of trusted source addresses.
 
        	</documentation>
		<input message="tns:Networking.PacketFilterGlobals.remove_trusted_addressRequest"/>
		<output message="tns:Networking.PacketFilterGlobals.remove_trusted_addressResponse"/>
	</operation>
	<operation name="remove_trusted_mac_address">
	<documentation>
 Removes the specified MAC addresses from the list of trusted MAC addresses.
 
        	</documentation>
		<input message="tns:Networking.PacketFilterGlobals.remove_trusted_mac_addressRequest"/>
		<output message="tns:Networking.PacketFilterGlobals.remove_trusted_mac_addressResponse"/>
	</operation>
	<operation name="remove_trusted_vlan">
	<documentation>
 Removes the specified ingress VLANs from the list of trusted VLANs.
 
        	</documentation>
		<input message="tns:Networking.PacketFilterGlobals.remove_trusted_vlanRequest"/>
		<output message="tns:Networking.PacketFilterGlobals.remove_trusted_vlanResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Networking.PacketFilterGlobalsBinding" type="tns:Networking.PacketFilterGlobalsPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="add_trusted_address">
	<documentation>
 Adds the specified addresses to the list of trusted source addresses.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/PacketFilterGlobals"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="add_trusted_mac_address">
	<documentation>
 Adds the specified MAC addresses to the list of trusted MAC addresses.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/PacketFilterGlobals"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="add_trusted_vlan">
	<documentation>
 Adds the specified ingress VLANs to the list of trusted VLANs.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/PacketFilterGlobals"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_trusted_address">
	<documentation>
 Gets a list of all trusted source addresses used in packet filtering on this device.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/PacketFilterGlobals"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_trusted_mac_address">
	<documentation>
 Gets a list of all trusted MAC addresses used in packet filtering on this device.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/PacketFilterGlobals"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_trusted_vlan">
	<documentation>
 Gets a list of all trusted ingress VLANs used in packet filtering on this device.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/PacketFilterGlobals"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/PacketFilterGlobals"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="remove_trusted_address">
	<documentation>
 Removes the specified addresses from the list of trusted source addresses.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/PacketFilterGlobals"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="remove_trusted_mac_address">
	<documentation>
 Removes the specified MAC addresses from the list of trusted MAC addresses.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/PacketFilterGlobals"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="remove_trusted_vlan">
	<documentation>
 Removes the specified ingress VLANs from the list of trusted VLANs.
 
        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/PacketFilterGlobals"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/PacketFilterGlobals"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Networking.PacketFilterGlobals">
	<documentation>
 The PacketFilterGlobals interface enables you to work with the global lists of trusted source addresses and ingress VLANs used
 in packet filtering.  

        	</documentation>
	<port name="Networking.PacketFilterGlobalsPort" binding="tns:Networking.PacketFilterGlobalsBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
