lib/f5/src/main/java/iControl/wsdl/Networking.ProfileGRE.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2009, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="Networking.ProfileGRE"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Common.ProfileEnabledState">
			<xsd:sequence>
				<xsd:element name="value" type="tns:Common.EnabledState"/>
				<xsd:element name="default_flag" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:simpleType name="Common.EnabledState">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="STATE_DISABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_DISABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="STATE_ENABLED">
					<xsd:annotation>
						<xsd:documentation>STATE_ENABLED</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.BooleanSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:boolean[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:complexType name="Common.ProfileEnabledStateSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='tns:Common.ProfileEnabledState[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:schema>
</types>

<!-- message -->

<message name="Networking.ProfileGRE.createRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileGRE.createResponse">
</message>

<message name="Networking.ProfileGRE.delete_all_profilesRequest">
</message>
<message name="Networking.ProfileGRE.delete_all_profilesResponse">
</message>

<message name="Networking.ProfileGRE.delete_profileRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileGRE.delete_profileResponse">
</message>

<message name="Networking.ProfileGRE.get_default_profileRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileGRE.get_default_profileResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.ProfileGRE.get_include_checksum_stateRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileGRE.get_include_checksum_stateResponse">
	<part name="return" type="tns:Common.ProfileEnabledStateSequence"/>
</message>

<message name="Networking.ProfileGRE.get_listRequest">
</message>
<message name="Networking.ProfileGRE.get_listResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="Networking.ProfileGRE.get_validate_checksum_stateRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileGRE.get_validate_checksum_stateResponse">
	<part name="return" type="tns:Common.ProfileEnabledStateSequence"/>
</message>

<message name="Networking.ProfileGRE.get_versionRequest">
</message>
<message name="Networking.ProfileGRE.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<message name="Networking.ProfileGRE.is_base_profileRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileGRE.is_base_profileResponse">
	<part name="return" type="tns:Common.BooleanSequence"/>
</message>

<message name="Networking.ProfileGRE.set_default_profileRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
	<part name="defaults" type="tns:Common.StringSequence"/>
</message>
<message name="Networking.ProfileGRE.set_default_profileResponse">
</message>

<message name="Networking.ProfileGRE.set_include_checksum_stateRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
	<part name="states" type="tns:Common.ProfileEnabledStateSequence"/>
</message>
<message name="Networking.ProfileGRE.set_include_checksum_stateResponse">
</message>

<message name="Networking.ProfileGRE.set_validate_checksum_stateRequest">
	<part name="profile_names" type="tns:Common.StringSequence"/>
	<part name="states" type="tns:Common.ProfileEnabledStateSequence"/>
</message>
<message name="Networking.ProfileGRE.set_validate_checksum_stateResponse">
</message>

<!-- portType -->

<portType name="Networking.ProfileGREPortType">
	<operation name="create">
   	<documentation>
 Creates a set of GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileGRE.createRequest"/>
		<output message="tns:Networking.ProfileGRE.createResponse"/>
	</operation>
	<operation name="delete_all_profiles">
	<documentation>
 Deletes all non-system GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileGRE.delete_all_profilesRequest"/>
		<output message="tns:Networking.ProfileGRE.delete_all_profilesResponse"/>
	</operation>
	<operation name="delete_profile">
	<documentation>
 Deletes a set of GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileGRE.delete_profileRequest"/>
		<output message="tns:Networking.ProfileGRE.delete_profileResponse"/>
	</operation>
	<operation name="get_default_profile">
	<documentation>
 Gets the existing GRE tunnel profile from which this set of GRE
 profiles inherits its unspecified attribute values.

        	</documentation>
		<input message="tns:Networking.ProfileGRE.get_default_profileRequest"/>
		<output message="tns:Networking.ProfileGRE.get_default_profileResponse"/>
	</operation>
	<operation name="get_include_checksum_state">
	<documentation>
 Gets whether the checksum should be included in the transmitted
 packets for a set of GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileGRE.get_include_checksum_stateRequest"/>
		<output message="tns:Networking.ProfileGRE.get_include_checksum_stateResponse"/>
	</operation>
	<operation name="get_list">
	<documentation>
 Gets the names for all GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileGRE.get_listRequest"/>
		<output message="tns:Networking.ProfileGRE.get_listResponse"/>
	</operation>
	<operation name="get_validate_checksum_state">
	<documentation>
 Gets whether the checksum should be validated on the received
 packets for a set of GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileGRE.get_validate_checksum_stateRequest"/>
		<output message="tns:Networking.ProfileGRE.get_validate_checksum_stateResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:Networking.ProfileGRE.get_versionRequest"/>
		<output message="tns:Networking.ProfileGRE.get_versionResponse"/>
	</operation>
	<operation name="is_base_profile">
	<documentation>
 Determines whether a set of GRE tunnel profiles are
 base/pre-configured (vs user-defined) profiles.

        	</documentation>
		<input message="tns:Networking.ProfileGRE.is_base_profileRequest"/>
		<output message="tns:Networking.ProfileGRE.is_base_profileResponse"/>
	</operation>
	<operation name="set_default_profile">
	<documentation>
 Sets the existing GRE tunnel profile from which this set of GRE
 tunnel profiles inherits their unspecified attribute values.

        	</documentation>
		<input message="tns:Networking.ProfileGRE.set_default_profileRequest"/>
		<output message="tns:Networking.ProfileGRE.set_default_profileResponse"/>
	</operation>
	<operation name="set_include_checksum_state">
	<documentation>
 Sets whether the checksum should be included in the transmitted
 packets for a set of GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileGRE.set_include_checksum_stateRequest"/>
		<output message="tns:Networking.ProfileGRE.set_include_checksum_stateResponse"/>
	</operation>
	<operation name="set_validate_checksum_state">
	<documentation>
 Sets whether the checksum should be validated on the received
 packets for a set of GRE tunnel profiles.

        	</documentation>
		<input message="tns:Networking.ProfileGRE.set_validate_checksum_stateRequest"/>
		<output message="tns:Networking.ProfileGRE.set_validate_checksum_stateResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="Networking.ProfileGREBinding" type="tns:Networking.ProfileGREPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="create">
	<documentation>
 Creates a set of GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_all_profiles">
	<documentation>
 Deletes all non-system GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_profile">
	<documentation>
 Deletes a set of GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_default_profile">
	<documentation>
 Gets the existing GRE tunnel profile from which this set of GRE
 profiles inherits its unspecified attribute values.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_include_checksum_state">
	<documentation>
 Gets whether the checksum should be included in the transmitted
 packets for a set of GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_list">
	<documentation>
 Gets the names for all GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_validate_checksum_state">
	<documentation>
 Gets whether the checksum should be validated on the received
 packets for a set of GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="is_base_profile">
	<documentation>
 Determines whether a set of GRE tunnel profiles are
 base/pre-configured (vs user-defined) profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_default_profile">
	<documentation>
 Sets the existing GRE tunnel profile from which this set of GRE
 tunnel profiles inherits their unspecified attribute values.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_include_checksum_state">
	<documentation>
 Sets whether the checksum should be included in the transmitted
 packets for a set of GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="set_validate_checksum_state">
	<documentation>
 Sets whether the checksum should be validated on the received
 packets for a set of GRE tunnel profiles.

        	</documentation>
		<soap:operation soapAction="urn:iControl:Networking/ProfileGRE"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:Networking/ProfileGRE"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="Networking.ProfileGRE">
	<documentation>
 The ProfileGRE interface allows you to manipulate a GRE tunnel profile
 to configure the General Routing Encapsulation tunneling protocol.  The
 General Routing Encapsulation supports RFC2784, allowing the packets of
 any L3 protocol to be carried inside encapsulating IP packets.

        	</documentation>
	<port name="Networking.ProfileGREPort" binding="tns:Networking.ProfileGREBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
