lib/f5/src/main/java/iControl/wsdl/WebAccelerator.Applications.wsdl

<?xml version="1.0" ?>
<!--
Copyright (c) 1996-2009, F5 Networks, Inc., Seattle, Washington. All rights reserved.  

F5, F5 Networks, the F5 logo, BIG-IP, 3-DNS, iControl, GLOBAL-SITE, SEE-IT, EDGE-FX, FireGuard, Internet Control Architecture, IP Application Switch, iRules, PACKET VELOCITY, SYN Check, CONTROL YOUR WORLD, OneConnect, ZoneRunner, uRoam, FirePass, and TrafficShield are registered trademarks or trademarks of F5 Networks, Inc., in the U.S. and certain other countries. 

All other trademarks mentioned in this document are the property of their respective owners. F5 Networks' trademarks may not be used in connection with any product or service except as permitted in writing by F5.

-->
<definitions name="WebAccelerator.Applications"
	targetNamespace="urn:iControl"
	xmlns:tns="urn:iControl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<!-- types -->

<types>
	<xsd:schema targetNamespace='urn:iControl'
		xmlns='http://www.w3.org/2001/XMLSchema'
		xmlns:SOAP-ENC='http://schemas.xmlsoap.org/soap/encoding/'
		xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
		<xsd:complexType name="Common.StringSequence">
			<xsd:complexContent>
				<xsd:restriction base='SOAP-ENC:Array'>
					<xsd:attribute ref='SOAP-ENC:arrayType' wsdl:arrayType='xsd:string[]'/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:simpleType name="Common.ULong">
			<xsd:restriction base="xsd:long"/>
		</xsd:simpleType>
	</xsd:schema>
</types>

<!-- message -->

<message name="WebAccelerator.Applications.createRequest">
	<part name="name" type="xsd:string"/>
	<part name="description" type="xsd:string"/>
	<part name="local_policy" type="xsd:string"/>
	<part name="remote_policy" type="xsd:string"/>
	<part name="requested_hosts" type="tns:Common.StringSequence"/>
</message>
<message name="WebAccelerator.Applications.createResponse">
	<part name="return" type="xsd:long"/>
</message>

<message name="WebAccelerator.Applications.delete_applicationRequest">
	<part name="applications" type="tns:Common.StringSequence"/>
</message>
<message name="WebAccelerator.Applications.delete_applicationResponse">
</message>

<message name="WebAccelerator.Applications.get_listRequest">
</message>
<message name="WebAccelerator.Applications.get_listResponse">
	<part name="return" type="tns:Common.StringSequence"/>
</message>

<message name="WebAccelerator.Applications.get_versionRequest">
</message>
<message name="WebAccelerator.Applications.get_versionResponse">
	<part name="return" type="xsd:string"/>
</message>

<!-- portType -->

<portType name="WebAccelerator.ApplicationsPortType">
	<operation name="create">
     	<documentation>
 Create a new Application. The strings that describe requested
 hosts should be one-line and are of the form:

   requested_host(domain=&gt;www.example.com,
                  destination_pool=&gt;INTERNAL)
 or
   requested_host(domain=&gt;www.example.com,
                  destination_pool=&gt;INTERNAL,
                  http_subdomain_count=&gt;5,
                  https_subdomain_count=&gt;5,
                  subdomain_prefix=&gt;wa)

        	</documentation>
		<input message="tns:WebAccelerator.Applications.createRequest"/>
		<output message="tns:WebAccelerator.Applications.createResponse"/>
	</operation>
	<operation name="delete_application">
	<documentation>
 Delete a list of named Applications.

        	</documentation>
		<input message="tns:WebAccelerator.Applications.delete_applicationRequest"/>
		<output message="tns:WebAccelerator.Applications.delete_applicationResponse"/>
	</operation>
	<operation name="get_list">
	<documentation>
 Get a list of Applications present on this WebAccelerator.

        	</documentation>
		<input message="tns:WebAccelerator.Applications.get_listRequest"/>
		<output message="tns:WebAccelerator.Applications.get_listResponse"/>
	</operation>
	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<input message="tns:WebAccelerator.Applications.get_versionRequest"/>
		<output message="tns:WebAccelerator.Applications.get_versionResponse"/>
	</operation>
</portType>

<!-- binding -->

<binding name="WebAccelerator.ApplicationsBinding" type="tns:WebAccelerator.ApplicationsPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="create">
	<documentation>
 Create a new Application. The strings that describe requested
 hosts should be one-line and are of the form:

   requested_host(domain=&gt;www.example.com,
                  destination_pool=&gt;INTERNAL)
 or
   requested_host(domain=&gt;www.example.com,
                  destination_pool=&gt;INTERNAL,
                  http_subdomain_count=&gt;5,
                  https_subdomain_count=&gt;5,
                  subdomain_prefix=&gt;wa)

        	</documentation>
		<soap:operation soapAction="urn:iControl:WebAccelerator/Applications"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:WebAccelerator/Applications"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:WebAccelerator/Applications"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="delete_application">
	<documentation>
 Delete a list of named Applications.

        	</documentation>
		<soap:operation soapAction="urn:iControl:WebAccelerator/Applications"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:WebAccelerator/Applications"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:WebAccelerator/Applications"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_list">
	<documentation>
 Get a list of Applications present on this WebAccelerator.

        	</documentation>
		<soap:operation soapAction="urn:iControl:WebAccelerator/Applications"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:WebAccelerator/Applications"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:WebAccelerator/Applications"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>

	<operation name="get_version">
	<documentation>
 Gets the version information for this interface.

        	</documentation>
		<soap:operation soapAction="urn:iControl:WebAccelerator/Applications"/>
		<input>
			<soap:body
				use="encoded"
				namespace="urn:iControl:WebAccelerator/Applications"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
			<soap:body
				use="encoded"
				namespace="urn:iControl:WebAccelerator/Applications"
				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>

<!-- service -->

<service name="WebAccelerator.Applications">
	<documentation>
 Allows manipulation of Applications.

        	</documentation>
	<port name="WebAccelerator.ApplicationsPort" binding="tns:WebAccelerator.ApplicationsBinding">
		<soap:address location="https://url_to_service"/>
	</port>
</service>
</definitions>
